*.swp
*.swo
*.txt
!readme.txt
*.html
configure
autom4te.cache
build*
Makefile.in
src/Makefile
test/Makefile
aclocal.m4
missing
install-sh
*.deb
*.changes
*.dsc
*.tar.gz
*.ex
.deps
.libs
*.la
*.lo
*.o
*.so
*.so.*
*~
*~old
tmp
*.log
*.gcov
*.gcda
*.gcno
debug
release
html
DEBIAN
usr
tmp
ltmain.sh
*.kdevelop
*.guess
*.sub
*.kdevelop.*
*.kdevses
depcomp
Doxyfile
stamp-*
config.*
libtool
files
*.orig
*.substvars
moc_*
qrc_*
*.debhelper
*.moc
*.prl
*.pc
*-stamp
.qmake.cache
lcov_report
*.info
*-trunk
install-root
ut-grayb-lib
*.xml_
*saved.xml
*saved.chs
*.swn
*.swm
*.exrc
Makefile
.*.chs
*.out
clm/fapm
